:root {
    --color-blue-dark: #161B22;
    --color-blue: #414D5D;
    --color-green: #6FEE68;
    --color-blue-dark-25: rgba(24, 33, 45, 0.25);
}

.site {
	width: 100%;
}

/* ----------- HEADER -----------*/

.site-header {
    position: relative;
	width: 100%;
}

.header-dark {
    background-color: #161B22;
    width: 100%;
    position: absolute;
    height: calc(100% - 100px);
    z-index: -10;
}

.front-box-item {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.content-box {	
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
    padding: 0 30px;
}

.run-line {
	width: 100%;
	max-width: 450px;
	height: 10px;
	background-color: rgba(22, 27, 34, 0.6);
}

.run-point {
	position: relative;
	width: 10px;
	height: 10px;
	background-color: var(--color-green);
	left: 20px;
	border-radius: 50%;
}

.btn-detailed {
	width: 300px;
	display: block;
	background-color: var(--color-blue-dark);
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding: 10px;
	box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.25);
}
.btn-light {
    background-color: #eee;
	color: black;
    border: 1px solid var(--color-blue-dark);
    /* box-shadow: 3px 3px 15px 5px rgba(255, 255, 255, 0.2); */
}
.btn-detailed:hover {
    background-color: #414D5D;
}

/* ----------- HEADER MENU -----------*/

.menu-box {
    position: relative;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}
.brands {
    display: flex;
    gap: 5px;
}

.logo-brands {
    width: 55px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-roscosmos {
    background-image: url(../images/logo/roscosmos.png);
}
.logo-glonass {
    height: 35;
    background-image: url(../images/logo/glonass_logo.png);
}
.logo-inav {
    background-image: url(../images/logo/inav-round.png);
}
.main-navigation {
    text-transform: uppercase;
    font-size: 18px;
}
.nav-menu {
    gap: 20px;
    justify-content: center;
	word-spacing: -3px;
}
.nav-menu a {
    color: white;	
}

.lang-btn-box {
	display: flex;
	gap: 10px;
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
}
.lang-btn_ru {
	color: var(--color-green);
}
.lang-btn_en {
	color: white;
}

/* ----------- HEADER CONTENT-----------*/

.site-branding-home {
	width: 100%;
	height: 700px;
	background-position: center;
	background-size: cover;
	position: relative;
    border-top: 2px solid var(--color-green);
	z-index: 0;
}
.site-branding-home::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background-color: var(--color-blue);
    opacity: 0.5;
	z-index: -1;
}

.site-branding-home::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../images/headers/aesthetic-brnd.png);
    background-position: center;
	background-size: cover;
    opacity: 0.8;
	z-index: -1;
}
.site-logo-big {
    width: 400px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.site-logo-big img {
    width: 100%;
}

.site-description-box {
    padding: 12px;
    margin-top: 105px;
    background-color: var(--color-blue-dark-25);
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
}

.description-label {
    color: var(--color-green);
}


/* ----------- BLOCK ABOUT-----------*/
.front-main {
	margin-top: -100px;
	width: 100%;
}

.box-about {
	padding-bottom: 50px;
}

#round-top-left {
	position: absolute;
	top: -900px;
	left: -900px;
	width: 1200px;
	height: 1200px;
	border-radius: 50%;
	background-color: #D9D9D9;
	opacity: 0.25;
	z-index: -10;
}

.about-content {
	padding-top: 100px;
}

.about-title {
	margin: 150px auto 10px;
	width: 100%;
	max-width: 800px;
}

.about-title h2 {
	text-transform: uppercase;
	font-size: 40px;
}

.about-text-box {
	width: 100%;
	margin-top: 95px;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}
.about-text_left,
.about-text_right {
	width: 100%;
}

.about-text_left {
	margin-top: 10px;
}

.about-text_right {
	margin-top: -10px;
}

.about-text_left__text {
	font-size: 22px;
	margin-top: 50px;
}

.about-text_right__text {
	font-size: 26px;
}

.about-text_right .btn-detailed {
	margin-top: 100px;
}


/* ----------- BLOCK SPUTNIKS-----------*/

.sputnik-box {
    width: 100%;
    background-color: var(--color-blue);
    color: white;
}
.sputnik-content {
    margin-top: 300px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 15% 0 30px;
    align-items: center;
}
.sputnik-content-item {
    width: calc((100% - 60px * 2 - 250px) / 2);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2.7;
}
.sputnik-content-img {
    width: 250px;
}
.sputnik-content-text_part1 {
    text-align: right;
}
.sputnik-content-text_part2 {
    text-align: left;
}

.sputnik-box_img {
    position: absolute;
    top: 170px;
    left: 32px;
    width: calc(100% - 32px * 2);
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.sputnik-img_item {
    background-color: white;
    border: 1px solid var(--color-blue-dark);
    box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.35);
    text-align: center;
    width: calc((100% - 48px * 3) / 4);
    /* height: 290px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}
.sputnik-img_item img {
    width: 300px;
}
.sputnik-title {
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-top: -10px;
}

/* ----------- BLOCK PRODUCTS-----------*/

#round-top-right {
    position: absolute;
	top: -900px;
	right: -900px;
	width: 1200px;
	height: 1200px;
	border-radius: 50%;
	background-color: #D9D9D9;
	opacity: 0.25;
	z-index: -10;
}

.products-content {
    width: 100%;
    padding: 150px 30px;
}

.products-container {
    display: grid;
    grid-template-areas: "item-1 item-2 item-5 item-5"  
                         "item-3 item-4 item-5 item-5"  
                         "item-6 item-7 item-8 item-9"; 
    grid-template-rows: repeat(3, 280px);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-transform: uppercase;
}
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--color-blue);
    padding: 5px 10px 20px;
    text-align: center;
    row-gap: 20px;
    font-size: 22px;
}
.product-item:hover {
    color: black;
    background-color: rgba(65, 77, 93, 0.1);
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.product-item_1 {
    grid-area: item-1;
}
.product-item_2 {
    grid-area: item-2;
}
.product-item_3 {
    grid-area: item-3;
}
.product-item_4 {
    grid-area: item-4;
}
.product-title {
    grid-area: item-5;
}
.product-item_6 {
    grid-area: item-6;
}
.product-item_7 {
    grid-area: item-7;
}
.product-item_8 {
    grid-area: item-8;
}
.product-item_9 {
    grid-area: item-9;
}
.product-item_img {
    /* border: 1px solid; */
    height: 130px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.product-img_1 {
    background-image: url(../images/products/2-11.png);
}
.product-img_2 {
    background-image: url(../images/products/2-12.png);
}
.product-img_3 {
    background-image: url(../images/products/2-13.png);
}
.product-img_4 {
    background-image: url(../images/products/2-14.png);
}
.product-img_6 {
    background-image: url(../images/products/2-15.png);
}
.product-img_7 {
    background-image: url(../images/products/2-16.png);
}
.product-img_8 {
    background-image: url(../images/products/2-17.png);
}
.product-img_9 {
    background-image: url(../images/products/2-18.png);
}
.product-title h2 {
    text-align: center;
    font-size: 60px;
    margin-top: 35%;
}

/* ----------- BLOCK GLONASS-----------*/
.box-glonass {
    padding: 0 30px;
}
.glonass-fon {
    background-color: var(--color-blue-dark);
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 60%;
    top: 20%;
    left: 0;
}
.glonass-content {
    background-color: var(--color-blue);
    color: white;
    width: 100%;
    padding: 130px 40px 175px;
    max-width: 1200px;
}
.glonass-title-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.glonass-title {
    text-transform: uppercase;
    font-size: 48px;
}
.glonass-title-img {
    width: 100px;
    height: 90px;
    background-image: url(../images/other/gl2-glonass.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 80px;
}
.glonass-text {
    width: 750px;
    margin-top: 78px;
    font-size: 28px;
}

.glonass-content .btn-light {
    margin-top: 98px;
}

/* ----------- BLOCK SCHOOL-----------*/

.school-content {
    padding: 200px 30px 100px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.school-img-box,
.school-text-box {
    width: calc((100% - 100px) / 2);
}
.school-img_item {
    position: relative;
    width: 370px;
    height: 240px;
    border: 1px solid var(--color-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.school-img_1 {
    background-image: url(../images/school/since_scool_5-1.png);
    z-index: 3;
}
.school-img_2 {
    background-image: url(../images/school/since_scool_5-2.png);
    left: calc(100% - 370px);
    top: -50px;
    z-index: 2;
}
.school-img_3 {
    background-image: url(../images/school/since_scool_5-3.png);
    top: -100px;
    z-index: 1;
}
.school-title {
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 50px;
}
.school-text {
    margin-top: 64px;
    width: 100%;
}

.school-text-box .btn-detailed {
    margin-top: 105px;
}

/* ----------- BLOCK CAREER-----------*/
.box-career {
    background-color: #D9D9D9;
    position: relative;
    z-index: 0;
}
.box-career::before {
    width: 30%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #414D5D;
    opacity: 0.3;
    z-index: -1;
}
.career-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 20px;
}
.career-text-box {
    width: 40%;
    
}
.career-img-box {
    width: 60%;
    display: flex;
    justify-content: end;
}
.career-text_title {
    text-transform: uppercase;
    font-size: 48px;
}
.career-text_txt {
    width: 90%;
    max-width: 400px;
    font-size: 18px;
    margin-top: 30px;
}
.career-text-box .btn-detailed{
    text-align: center;
    margin-top: 50px;
}

.career-img-box_fon {
    position: relative;
    width: 400px;
    background-color: white;
    height: 100%;
    padding: 20px;
}
.career-img-box_img {
    position: relative;
    width: 450px;
    left: -90px;
    height: 100%;
    background-color: #aaa;
    background-image: url(../images/other/kar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* ----------- BLOCK NEWS-----------*/

.box-news {

}
.news-content {
    max-width: 100%;
    padding: 200px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.news-title-box,
.news-item-box {
    width: calc((100% - 20px * 3) / 4);
}

.news-title {
    margin-top: 10%;
    font-size: 40px;
    text-transform: uppercase;
}
.news-title-box .btn-detailed {
    margin-top: 50px;
    width: 100%;
    max-width: 300px;

}
.news-item-box {
    background-color: #f5f5f5;
    border: 1px solid var(--color-blue);
}
.news-item-img {
    position: relative;
    width: 100%;
    height: 200px;
}
.news-item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news-item-date {
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    color: var(--color-green);
    padding: 5px;
}
.news-item-text {
    position: relative;
    padding: 24px;
}
.news-item-text a:hover {
    color: #1D6B18;
}

.news-item-cat {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border: 1px solid var(--color-blue);
    padding: 5px;
    top: -20px;
    left: 10%;
    width: 80%;
}
.news-item-cat:hover {
    background-color: #414D5D;
    color: #6FEE68;
    cursor: pointer;
    border-color: #D9D9D9;
}

/* ----------- BLOCK CONTACT-----------*/

.box-contact {
    height: 500px;
    background-image: url(../images/other/adress.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-info-box {
    background-color: #eee;
    position: relative;
    top: 80px;
    left: 100px;
    width: 550px;
    padding: 30px;
    border: 1px solid var(--color-blue-dark);
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.contact-info-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
    font-size: 32px;
    text-transform: uppercase;
}
.contact-info-item {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.contact-info-item i{
    color: #161B22;
    margin-top: 5px;
}
.contact-info-box .btn-detailed {
    margin-top: 40px;
    padding: 5px;
    font-size: 20px;
    width: 250px;
}


.site-footer {
    background-color: #161B22;
    height: 500px;
    color: white;
}